---
---

@import "{{ site.theme }}";

.page-header {
    background-image: linear-gradient( to right, #00d4ff, #093379);
   
}

.main-content h2, h3 {
    font-weight: bold;
    text-align: center;
    color: #093379;
    }
